@model IEnumerable<Review>
<div class="panel-body, text-center">
    <h1>Reviews</h1>
    <table class="table table-sm table-striped table-bordered">
        <tbody>
            <tr>
                <th>Reviewer Name</th>
                <th>Comments</th>
                <th>Star Rating</th>
            </tr>
            @foreach (Recipes.Models.Review r in Model)
            {
            <tr>
                <td>@r.Name</td>
                <td>@r.Comments</td>
                <td>
                    @for (int i = 0; r.Rating > i; i++)
                    {
                        <img src="~/Images/star.jpg" width="10" height="10" />

                    }
                </td>
</tr>
            }
        </tbody>
    </table>
</div>
